$RobotoThin: "RobotoThin", sans-serif;
$FontDefault: "RobotoRegular", sans-serif;
$FontBold: "RobotoBold", sans-serif;
$FontMedium: "RobotoMedium", sans-serif;
$FontLight: "RobotoLight", sans-serif;

.h1 {
  font-family: $FontBold;
  line-height: 80%;
  font-weight: 700;
}

.text-btn {
  font-family: $FontMedium;
  line-height: 140%;
  text-transform: uppercase;

  font-weight: 500;
}

.text-body {
  font-family: $FontDefault;
  line-height: 140%;
  font-weight: 400;
}
.text_bold {
  font-family: $FontMedium;
  font-weight: 500;
  line-height: 130%;
}
.text {
  font-family: $FontDefault;
  font-weight: 400;
  line-height: 130%;
}
.h2,
.subtitle {
  font-family: $FontDefault;
  line-height: 120%;
  font-weight: 400;
}

.smallParagraph {
  font-family: $FontLight;
  line-height: 120%;
  font-weight: 300;
}

.h3 {
  font-family: $FontDefault;
  line-height: 130%;
  font-weight: 400;
}

.link {
  color: $white;
  transition: all 0.3s ease-in-out;
  font-family: $FontMedium;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;

  &:hover {
    background: $orange;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
}

.link_active {
  background: $orange;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.pick {
  .link {
    color: $black_blue;
    font-family: $FontDefault;

    padding-bottom: 1px;
    border-bottom: 1px solid $orange3;
  }
}
