.footer {
  background-color: $black_bg;
  color: $white;
  box-sizing: border-box;
  padding-bottom: 50px;
  padding-top: 40px;

  @media screen and (max-width: $tablet) {
    padding-bottom: 15px;
    padding-top: 12px;
  }
  @media screen and (max-width: $mobile) {
    padding-bottom: 20px;
    padding-top: 20px;
    .logo {
      width: 100%;
    }
  }

  .container-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 1fr 1fr;
    grid-template-areas:
      "logo . subs"
      "donate . ."
      "socials navig designed";

    @media screen and (max-width: $desktop) {
      grid-template-columns: auto 1fr auto;
      grid-template-areas:
        "logo subs subs"
        "donate . ."
        "socials navig designed";
    }
    @media screen and (max-width: $tablet) {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto 1fr 0.8fr;
      grid-template-areas:
        "logo socials"
        "donate socials"
        "navig designed";
      padding-left: 0;
    }
    @media screen and (max-width: $mobile) {
      grid-template-columns: 1fr;
      grid-template-rows: 0.4fr 0.7fr 1.3fr 0.6fr 0.6fr;
      justify-content: center;
      align-items: center;
      grid-template-areas:
        "logo "
        " socials"
        "donate"
        "designed"
        "navig";
    }
  }
  .subscribe {
    justify-self: end;
    display: flex;
    flex-direction: column;
    gap: 14px;
    @media screen and (max-width: $tablet) {
      display: none;
    }

    div {
      display: flex;
      gap: 10px;
      align-items: center;
    }
    .subtitle {
      font-size: 1.5rem;
      margin: 0;
    }
    @media screen and (max-width: $desktop) {
      margin-right: 30px;
    }
  }
  .logo {
    grid-area: logo;
  }
  .subscribe {
    grid-area: subs;
  }
  .btn_orange {
    grid-area: donate;
    align-self: center;
    margin-top: -15px;
    @media screen and (max-width: $tablet) {
      margin-top: 0;
    }
    @media screen and (max-width: $mobile) {
      justify-self: center;
    }
  }
  .socials {
    grid-area: socials;
    align-self: end;
    padding-left: 0px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0;

    @media screen and (max-width: $tablet) {
      justify-self: end;
      gap: 20px;
      .text-body {
        display: none;
      }
    }
    @media screen and (max-width: $mobile) {
      flex-direction: row;
      justify-self: center;
    }
    @media screen and (max-width: $mobile) {
      gap: 30px;
      align-self: center;
    }
  }
  .nav {
    grid-area: navig;
    justify-self: center;
    align-self: end;
    @media screen and (max-width: $desktop) {
      justify-self: start;
      margin-left: -7px;
      // margin-left: 8px;
    }
    @media screen and (max-width: $tablet) {
      margin-left: 0;
    }
    @media screen and (max-width: $mobile) {
      justify-self: center;
      font-size: 1rem;
    }
  }
  .designed {
    grid-area: designed;
    justify-self: end;
    align-self: end;
    @media screen and (max-width: $mobile) {
      font-size: 15px;
      align-self: center;
    }
  }
}

.social__icon {
  border-radius: 50%;
  background-color: rgba(196, 196, 196, 0.5);
  width: 26px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social__link {
  display: flex;
  gap: 12px;
  align-items: center;
  transition: all 0.3s ease-in;
  &:hover {
    .social__icon {
      background: $green;
    }
    .text-body {
      background: $green;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
    }
  }
}

.designed {
  font-family: $RobotoThin;
  font-weight: 100;
  font-size: 16px;
  line-height: 130%;
  margin-bottom: -1em;
}
.menu {
  margin: 0;
}
